//
// InvoiceNFCeDANFEAPI.swift
//
// Generated by swagger-codegen
// https://github.com/swagger-api/swagger-codegen
//

import Alamofire



public class InvoiceNFCeDANFEAPI: APIBase {
    /**
     NFCe Danfe Print
     
     - parameter key: (path) Invoice Key 
     - parameter completion: completion handler to receive the data and the error objects
     */
    public class func invoicesNfceKeyGet(key key: String, completion: ((data: NSURL?, error: ErrorType?) -> Void)) {
        invoicesNfceKeyGetWithRequestBuilder(key: key).execute { (response, error) -> Void in
            completion(data: response?.body, error: error);
        }
    }


    /**
     NFCe Danfe Print
     - GET /invoices/nfce/{key}
     - Retrieve the Danfe in NFCe format. 
     - examples: [{output=none}]
     
     - parameter key: (path) Invoice Key 

     - returns: RequestBuilder<NSURL> 
     */
    public class func invoicesNfceKeyGetWithRequestBuilder(key key: String) -> RequestBuilder<NSURL> {
        var path = "/invoices/nfce/{key}"
        path = path.stringByReplacingOccurrencesOfString("{key}", withString: "\(key)", options: .LiteralSearch, range: nil)
        let URLString = SwaggerClientAPI.basePath + path

        let nillableParameters: [String:AnyObject?] = [:]
 
        let parameters = APIHelper.rejectNil(nillableParameters)
 
        let convertedParameters = APIHelper.convertBoolToString(parameters)
 
        let requestBuilder: RequestBuilder<NSURL>.Type = SwaggerClientAPI.requestBuilderFactory.getBuilder()

        return requestBuilder.init(method: "GET", URLString: URLString, parameters: convertedParameters, isBody: true)
    }

}
