/*
 * AvaTax Brazil
 * The Avatax-Brazil API exposes the most commonly services available for interacting with the AvaTax-Brazil services, allowing calculation of taxes, issuing electronic invoice documents and modifying existing transactions when allowed by tax authorities.  This API is exclusively for use by business with a physical presence in Brazil.
 *
 * OpenAPI spec version: 1.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package io.swagger.client.api;

import java.io.IOException;
import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.UUID;

import com.google.gson.reflect.TypeToken;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;
import io.swagger.client.model.Body1;
import io.swagger.client.model.InlineResponse201;
import io.swagger.client.model.ItemGoods;

public class CompanyItemGoodsApi {
    private ApiClient apiClient;

    public CompanyItemGoodsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public CompanyItemGoodsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /* Build call for companyItemsChangeCode */
    private com.squareup.okhttp.Call companyItemsChangeCodeCall(String authorization, UUID companyId, String code, Body1 body, String goods, String service, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/companies/{companyId}/items/{code}/change-code".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "companyId" + "\\}", apiClient.escapeString(companyId.toString()))
        .replaceAll("\\{" + "code" + "\\}", apiClient.escapeString(code.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (goods != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "goods", goods));
        if (service != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "service", service));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (authorization != null)
        localVarHeaderParams.put("Authorization", apiClient.parameterToString(authorization));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call companyItemsChangeCodeValidateBeforeCall(String authorization, UUID companyId, String code, Body1 body, String goods, String service, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'authorization' is set
        if (authorization == null) {
            throw new ApiException("Missing the required parameter 'authorization' when calling companyItemsChangeCode(Async)");
        }
        
        // verify the required parameter 'companyId' is set
        if (companyId == null) {
            throw new ApiException("Missing the required parameter 'companyId' when calling companyItemsChangeCode(Async)");
        }
        
        // verify the required parameter 'code' is set
        if (code == null) {
            throw new ApiException("Missing the required parameter 'code' when calling companyItemsChangeCode(Async)");
        }
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling companyItemsChangeCode(Async)");
        }
        
        
        com.squareup.okhttp.Call call = companyItemsChangeCodeCall(authorization, companyId, code, body, goods, service, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * Change the code of a given item. 
     * @param authorization Bearer {auth} (required)
     * @param companyId Company ID (required)
     * @param code Item Code (required)
     * @param body Requisition (required)
     * @param goods Provide to apply to goods items. (optional)
     * @param service Provide to apply to service items. (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void companyItemsChangeCode(String authorization, UUID companyId, String code, Body1 body, String goods, String service) throws ApiException {
        companyItemsChangeCodeWithHttpInfo(authorization, companyId, code, body, goods, service);
    }

    /**
     * 
     * Change the code of a given item. 
     * @param authorization Bearer {auth} (required)
     * @param companyId Company ID (required)
     * @param code Item Code (required)
     * @param body Requisition (required)
     * @param goods Provide to apply to goods items. (optional)
     * @param service Provide to apply to service items. (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> companyItemsChangeCodeWithHttpInfo(String authorization, UUID companyId, String code, Body1 body, String goods, String service) throws ApiException {
        com.squareup.okhttp.Call call = companyItemsChangeCodeValidateBeforeCall(authorization, companyId, code, body, goods, service, null, null);
        return apiClient.execute(call);
    }

    /**
     *  (asynchronously)
     * Change the code of a given item. 
     * @param authorization Bearer {auth} (required)
     * @param companyId Company ID (required)
     * @param code Item Code (required)
     * @param body Requisition (required)
     * @param goods Provide to apply to goods items. (optional)
     * @param service Provide to apply to service items. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call companyItemsChangeCodeAsync(String authorization, UUID companyId, String code, Body1 body, String goods, String service, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = companyItemsChangeCodeValidateBeforeCall(authorization, companyId, code, body, goods, service, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /* Build call for createItem */
    private com.squareup.okhttp.Call createItemCall(String authorization, UUID companyId, String avalaraProductType, ItemGoods body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/companies/{companyId}/items?goods".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "companyId" + "\\}", apiClient.escapeString(companyId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (authorization != null)
        localVarHeaderParams.put("Authorization", apiClient.parameterToString(authorization));
        if (avalaraProductType != null)
        localVarHeaderParams.put("Avalara-Product-Type", apiClient.parameterToString(avalaraProductType));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createItemValidateBeforeCall(String authorization, UUID companyId, String avalaraProductType, ItemGoods body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'authorization' is set
        if (authorization == null) {
            throw new ApiException("Missing the required parameter 'authorization' when calling createItem(Async)");
        }
        
        // verify the required parameter 'companyId' is set
        if (companyId == null) {
            throw new ApiException("Missing the required parameter 'companyId' when calling createItem(Async)");
        }
        
        // verify the required parameter 'avalaraProductType' is set
        if (avalaraProductType == null) {
            throw new ApiException("Missing the required parameter 'avalaraProductType' when calling createItem(Async)");
        }
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling createItem(Async)");
        }
        
        
        com.squareup.okhttp.Call call = createItemCall(authorization, companyId, avalaraProductType, body, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Create custom agast for one company
     * This method operation create a custom agast for one company 
     * @param authorization Bearer {auth} (required)
     * @param companyId Company ID (required)
     * @param avalaraProductType Avalara Product Type (required)
     * @param body Transaction Message (required)
     * @return InlineResponse201
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InlineResponse201 createItem(String authorization, UUID companyId, String avalaraProductType, ItemGoods body) throws ApiException {
        ApiResponse<InlineResponse201> resp = createItemWithHttpInfo(authorization, companyId, avalaraProductType, body);
        return resp.getData();
    }

    /**
     * Create custom agast for one company
     * This method operation create a custom agast for one company 
     * @param authorization Bearer {auth} (required)
     * @param companyId Company ID (required)
     * @param avalaraProductType Avalara Product Type (required)
     * @param body Transaction Message (required)
     * @return ApiResponse&lt;InlineResponse201&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InlineResponse201> createItemWithHttpInfo(String authorization, UUID companyId, String avalaraProductType, ItemGoods body) throws ApiException {
        com.squareup.okhttp.Call call = createItemValidateBeforeCall(authorization, companyId, avalaraProductType, body, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse201>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create custom agast for one company (asynchronously)
     * This method operation create a custom agast for one company 
     * @param authorization Bearer {auth} (required)
     * @param companyId Company ID (required)
     * @param avalaraProductType Avalara Product Type (required)
     * @param body Transaction Message (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createItemAsync(String authorization, UUID companyId, String avalaraProductType, ItemGoods body, final ApiCallback<InlineResponse201> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createItemValidateBeforeCall(authorization, companyId, avalaraProductType, body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse201>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for deleteItem */
    private com.squareup.okhttp.Call deleteItemCall(String authorization, UUID companyId, String code, String avalaraProductType, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/companies/{companyId}/items/{code}?goods".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "companyId" + "\\}", apiClient.escapeString(companyId.toString()))
        .replaceAll("\\{" + "code" + "\\}", apiClient.escapeString(code.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (authorization != null)
        localVarHeaderParams.put("Authorization", apiClient.parameterToString(authorization));
        if (avalaraProductType != null)
        localVarHeaderParams.put("Avalara-Product-Type", apiClient.parameterToString(avalaraProductType));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteItemValidateBeforeCall(String authorization, UUID companyId, String code, String avalaraProductType, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'authorization' is set
        if (authorization == null) {
            throw new ApiException("Missing the required parameter 'authorization' when calling deleteItem(Async)");
        }
        
        // verify the required parameter 'companyId' is set
        if (companyId == null) {
            throw new ApiException("Missing the required parameter 'companyId' when calling deleteItem(Async)");
        }
        
        // verify the required parameter 'code' is set
        if (code == null) {
            throw new ApiException("Missing the required parameter 'code' when calling deleteItem(Async)");
        }
        
        // verify the required parameter 'avalaraProductType' is set
        if (avalaraProductType == null) {
            throw new ApiException("Missing the required parameter 'avalaraProductType' when calling deleteItem(Async)");
        }
        
        
        com.squareup.okhttp.Call call = deleteItemCall(authorization, companyId, code, avalaraProductType, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * Delete Item
     * @param authorization Bearer {auth} (required)
     * @param companyId Company ID (required)
     * @param code Item Code (required)
     * @param avalaraProductType Avalara Product Type (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteItem(String authorization, UUID companyId, String code, String avalaraProductType) throws ApiException {
        deleteItemWithHttpInfo(authorization, companyId, code, avalaraProductType);
    }

    /**
     * 
     * Delete Item
     * @param authorization Bearer {auth} (required)
     * @param companyId Company ID (required)
     * @param code Item Code (required)
     * @param avalaraProductType Avalara Product Type (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteItemWithHttpInfo(String authorization, UUID companyId, String code, String avalaraProductType) throws ApiException {
        com.squareup.okhttp.Call call = deleteItemValidateBeforeCall(authorization, companyId, code, avalaraProductType, null, null);
        return apiClient.execute(call);
    }

    /**
     *  (asynchronously)
     * Delete Item
     * @param authorization Bearer {auth} (required)
     * @param companyId Company ID (required)
     * @param code Item Code (required)
     * @param avalaraProductType Avalara Product Type (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteItemAsync(String authorization, UUID companyId, String code, String avalaraProductType, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteItemValidateBeforeCall(authorization, companyId, code, avalaraProductType, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /* Build call for getCompanyItemsGoods */
    private com.squareup.okhttp.Call getCompanyItemsGoodsCall(String authorization, UUID companyId, String code, String avalaraProductType, String agast, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/companies/{companyId}/items/{code}?goods".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "companyId" + "\\}", apiClient.escapeString(companyId.toString()))
        .replaceAll("\\{" + "code" + "\\}", apiClient.escapeString(code.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (agast != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "agast", agast));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (authorization != null)
        localVarHeaderParams.put("Authorization", apiClient.parameterToString(authorization));
        if (avalaraProductType != null)
        localVarHeaderParams.put("Avalara-Product-Type", apiClient.parameterToString(avalaraProductType));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getCompanyItemsGoodsValidateBeforeCall(String authorization, UUID companyId, String code, String avalaraProductType, String agast, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'authorization' is set
        if (authorization == null) {
            throw new ApiException("Missing the required parameter 'authorization' when calling getCompanyItemsGoods(Async)");
        }
        
        // verify the required parameter 'companyId' is set
        if (companyId == null) {
            throw new ApiException("Missing the required parameter 'companyId' when calling getCompanyItemsGoods(Async)");
        }
        
        // verify the required parameter 'code' is set
        if (code == null) {
            throw new ApiException("Missing the required parameter 'code' when calling getCompanyItemsGoods(Async)");
        }
        
        // verify the required parameter 'avalaraProductType' is set
        if (avalaraProductType == null) {
            throw new ApiException("Missing the required parameter 'avalaraProductType' when calling getCompanyItemsGoods(Async)");
        }
        
        
        com.squareup.okhttp.Call call = getCompanyItemsGoodsCall(authorization, companyId, code, avalaraProductType, agast, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * This operation return custom agast configurations that match with parameters queries 
     * @param authorization Bearer {auth} (required)
     * @param companyId Company ID (required)
     * @param code Item Code (required)
     * @param avalaraProductType Avalara Product Type (required)
     * @param agast Custom Agast Code (optional)
     * @return ItemGoods
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ItemGoods getCompanyItemsGoods(String authorization, UUID companyId, String code, String avalaraProductType, String agast) throws ApiException {
        ApiResponse<ItemGoods> resp = getCompanyItemsGoodsWithHttpInfo(authorization, companyId, code, avalaraProductType, agast);
        return resp.getData();
    }

    /**
     * 
     * This operation return custom agast configurations that match with parameters queries 
     * @param authorization Bearer {auth} (required)
     * @param companyId Company ID (required)
     * @param code Item Code (required)
     * @param avalaraProductType Avalara Product Type (required)
     * @param agast Custom Agast Code (optional)
     * @return ApiResponse&lt;ItemGoods&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ItemGoods> getCompanyItemsGoodsWithHttpInfo(String authorization, UUID companyId, String code, String avalaraProductType, String agast) throws ApiException {
        com.squareup.okhttp.Call call = getCompanyItemsGoodsValidateBeforeCall(authorization, companyId, code, avalaraProductType, agast, null, null);
        Type localVarReturnType = new TypeToken<ItemGoods>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * This operation return custom agast configurations that match with parameters queries 
     * @param authorization Bearer {auth} (required)
     * @param companyId Company ID (required)
     * @param code Item Code (required)
     * @param avalaraProductType Avalara Product Type (required)
     * @param agast Custom Agast Code (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getCompanyItemsGoodsAsync(String authorization, UUID companyId, String code, String avalaraProductType, String agast, final ApiCallback<ItemGoods> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getCompanyItemsGoodsValidateBeforeCall(authorization, companyId, code, avalaraProductType, agast, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ItemGoods>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for getCompanyItemsGoodsList */
    private com.squareup.okhttp.Call getCompanyItemsGoodsListCall(String authorization, UUID companyId, String avalaraProductType, Integer xPaginationLimit, Integer xPaginationCurrentPage, String xPaginationSort, String code, String agast, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/companies/{companyId}/items?goods".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "companyId" + "\\}", apiClient.escapeString(companyId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (code != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "code", code));
        if (agast != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "agast", agast));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (authorization != null)
        localVarHeaderParams.put("Authorization", apiClient.parameterToString(authorization));
        if (avalaraProductType != null)
        localVarHeaderParams.put("Avalara-Product-Type", apiClient.parameterToString(avalaraProductType));
        if (xPaginationLimit != null)
        localVarHeaderParams.put("X-Pagination-Limit", apiClient.parameterToString(xPaginationLimit));
        if (xPaginationCurrentPage != null)
        localVarHeaderParams.put("X-Pagination-Current-Page", apiClient.parameterToString(xPaginationCurrentPage));
        if (xPaginationSort != null)
        localVarHeaderParams.put("X-Pagination-Sort", apiClient.parameterToString(xPaginationSort));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getCompanyItemsGoodsListValidateBeforeCall(String authorization, UUID companyId, String avalaraProductType, Integer xPaginationLimit, Integer xPaginationCurrentPage, String xPaginationSort, String code, String agast, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'authorization' is set
        if (authorization == null) {
            throw new ApiException("Missing the required parameter 'authorization' when calling getCompanyItemsGoodsList(Async)");
        }
        
        // verify the required parameter 'companyId' is set
        if (companyId == null) {
            throw new ApiException("Missing the required parameter 'companyId' when calling getCompanyItemsGoodsList(Async)");
        }
        
        // verify the required parameter 'avalaraProductType' is set
        if (avalaraProductType == null) {
            throw new ApiException("Missing the required parameter 'avalaraProductType' when calling getCompanyItemsGoodsList(Async)");
        }
        
        
        com.squareup.okhttp.Call call = getCompanyItemsGoodsListCall(authorization, companyId, avalaraProductType, xPaginationLimit, xPaginationCurrentPage, xPaginationSort, code, agast, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * This operation return custom agast configurations that match with parameters queries 
     * @param authorization Bearer {auth} (required)
     * @param companyId Company ID (required)
     * @param avalaraProductType Avalara Product Type (required)
     * @param xPaginationLimit The per page limit. Currently set to 10 but subject to change at any time (max 100). (optional, default to 10)
     * @param xPaginationCurrentPage The current page. Defaults to 1. (optional, default to 1)
     * @param xPaginationSort  (optional)
     * @param code Item Code (optional)
     * @param agast Custom Agast Code (optional)
     * @return List&lt;ItemGoods&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<ItemGoods> getCompanyItemsGoodsList(String authorization, UUID companyId, String avalaraProductType, Integer xPaginationLimit, Integer xPaginationCurrentPage, String xPaginationSort, String code, String agast) throws ApiException {
        ApiResponse<List<ItemGoods>> resp = getCompanyItemsGoodsListWithHttpInfo(authorization, companyId, avalaraProductType, xPaginationLimit, xPaginationCurrentPage, xPaginationSort, code, agast);
        return resp.getData();
    }

    /**
     * 
     * This operation return custom agast configurations that match with parameters queries 
     * @param authorization Bearer {auth} (required)
     * @param companyId Company ID (required)
     * @param avalaraProductType Avalara Product Type (required)
     * @param xPaginationLimit The per page limit. Currently set to 10 but subject to change at any time (max 100). (optional, default to 10)
     * @param xPaginationCurrentPage The current page. Defaults to 1. (optional, default to 1)
     * @param xPaginationSort  (optional)
     * @param code Item Code (optional)
     * @param agast Custom Agast Code (optional)
     * @return ApiResponse&lt;List&lt;ItemGoods&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<ItemGoods>> getCompanyItemsGoodsListWithHttpInfo(String authorization, UUID companyId, String avalaraProductType, Integer xPaginationLimit, Integer xPaginationCurrentPage, String xPaginationSort, String code, String agast) throws ApiException {
        com.squareup.okhttp.Call call = getCompanyItemsGoodsListValidateBeforeCall(authorization, companyId, avalaraProductType, xPaginationLimit, xPaginationCurrentPage, xPaginationSort, code, agast, null, null);
        Type localVarReturnType = new TypeToken<List<ItemGoods>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * This operation return custom agast configurations that match with parameters queries 
     * @param authorization Bearer {auth} (required)
     * @param companyId Company ID (required)
     * @param avalaraProductType Avalara Product Type (required)
     * @param xPaginationLimit The per page limit. Currently set to 10 but subject to change at any time (max 100). (optional, default to 10)
     * @param xPaginationCurrentPage The current page. Defaults to 1. (optional, default to 1)
     * @param xPaginationSort  (optional)
     * @param code Item Code (optional)
     * @param agast Custom Agast Code (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getCompanyItemsGoodsListAsync(String authorization, UUID companyId, String avalaraProductType, Integer xPaginationLimit, Integer xPaginationCurrentPage, String xPaginationSort, String code, String agast, final ApiCallback<List<ItemGoods>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getCompanyItemsGoodsListValidateBeforeCall(authorization, companyId, avalaraProductType, xPaginationLimit, xPaginationCurrentPage, xPaginationSort, code, agast, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<ItemGoods>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for updateItem */
    private com.squareup.okhttp.Call updateItemCall(String authorization, UUID companyId, String code, String avalaraProductType, ItemGoods body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/companies/{companyId}/items/{code}?goods".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "companyId" + "\\}", apiClient.escapeString(companyId.toString()))
        .replaceAll("\\{" + "code" + "\\}", apiClient.escapeString(code.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (authorization != null)
        localVarHeaderParams.put("Authorization", apiClient.parameterToString(authorization));
        if (avalaraProductType != null)
        localVarHeaderParams.put("Avalara-Product-Type", apiClient.parameterToString(avalaraProductType));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call updateItemValidateBeforeCall(String authorization, UUID companyId, String code, String avalaraProductType, ItemGoods body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'authorization' is set
        if (authorization == null) {
            throw new ApiException("Missing the required parameter 'authorization' when calling updateItem(Async)");
        }
        
        // verify the required parameter 'companyId' is set
        if (companyId == null) {
            throw new ApiException("Missing the required parameter 'companyId' when calling updateItem(Async)");
        }
        
        // verify the required parameter 'code' is set
        if (code == null) {
            throw new ApiException("Missing the required parameter 'code' when calling updateItem(Async)");
        }
        
        // verify the required parameter 'avalaraProductType' is set
        if (avalaraProductType == null) {
            throw new ApiException("Missing the required parameter 'avalaraProductType' when calling updateItem(Async)");
        }
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling updateItem(Async)");
        }
        
        
        com.squareup.okhttp.Call call = updateItemCall(authorization, companyId, code, avalaraProductType, body, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Update custom agast for one company
     * This method operation create a custom agast for one company 
     * @param authorization Bearer {auth} (required)
     * @param companyId Company ID (required)
     * @param code Item Code (required)
     * @param avalaraProductType Avalara Product Type (required)
     * @param body Transaction Message (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void updateItem(String authorization, UUID companyId, String code, String avalaraProductType, ItemGoods body) throws ApiException {
        updateItemWithHttpInfo(authorization, companyId, code, avalaraProductType, body);
    }

    /**
     * Update custom agast for one company
     * This method operation create a custom agast for one company 
     * @param authorization Bearer {auth} (required)
     * @param companyId Company ID (required)
     * @param code Item Code (required)
     * @param avalaraProductType Avalara Product Type (required)
     * @param body Transaction Message (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> updateItemWithHttpInfo(String authorization, UUID companyId, String code, String avalaraProductType, ItemGoods body) throws ApiException {
        com.squareup.okhttp.Call call = updateItemValidateBeforeCall(authorization, companyId, code, avalaraProductType, body, null, null);
        return apiClient.execute(call);
    }

    /**
     * Update custom agast for one company (asynchronously)
     * This method operation create a custom agast for one company 
     * @param authorization Bearer {auth} (required)
     * @param companyId Company ID (required)
     * @param code Item Code (required)
     * @param avalaraProductType Avalara Product Type (required)
     * @param body Transaction Message (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call updateItemAsync(String authorization, UUID companyId, String code, String avalaraProductType, ItemGoods body, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = updateItemValidateBeforeCall(authorization, companyId, code, avalaraProductType, body, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
}
