# coding: utf-8

"""
    AvaTax Brazil

    The Avatax-Brazil API exposes the most commonly services available for interacting with the AvaTax-Brazil services, allowing calculation of taxes, issuing electronic invoice documents and modifying existing transactions when allowed by tax authorities.  This API is exclusively for use by business with a physical presence in Brazil.

    OpenAPI spec version: 1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class AddressApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def get_zip_code(self, zipcode, **kwargs):
        """
        This operation return address
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_zip_code(zipcode, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str zipcode: ZIP Code (required)
        :return: list[Address]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_zip_code_with_http_info(zipcode, **kwargs)
        else:
            (data) = self.get_zip_code_with_http_info(zipcode, **kwargs)
            return data

    def get_zip_code_with_http_info(self, zipcode, **kwargs):
        """
        This operation return address
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_zip_code_with_http_info(zipcode, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str zipcode: ZIP Code (required)
        :return: list[Address]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['zipcode']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_zip_code" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'zipcode' is set
        if ('zipcode' not in params) or (params['zipcode'] is None):
            raise ValueError("Missing the required parameter `zipcode` when calling `get_zip_code`")

        if 'zipcode' in params and len(params['zipcode']) > 60:
            raise ValueError("Invalid value for parameter `zipcode` when calling `get_zip_code`, length must be less than or equal to `60`")
        if 'zipcode' in params and not re.search('^(\\d{8}|\\d{5}\\-\\d{3})$', params['zipcode']):
            raise ValueError("Invalid value for parameter `zipcode` when calling `get_zip_code`, must conform to the pattern `/^(\\d{8}|\\d{5}\\-\\d{3})$/`")

        collection_formats = {}

        resource_path = '/addresses/{zipcode}'.replace('{format}', 'json')
        path_params = {}
        if 'zipcode' in params:
            path_params['zipcode'] = params['zipcode']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='list[Address]',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)
