# coding: utf-8

"""
    BR16 - API

    This documentation is about service accessories that will compose the product BR16, this services are essencial to maintenance and configuration of accounts

    OpenAPI spec version: 1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class TaxConfICMSApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def create_icmsconfstate(self, state, icms_conf_state, **kwargs):
        """
        create a new ICMS Configuration
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.create_icmsconfstate(state, icms_conf_state, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str state: Brazilian State (required)
        :param IcmsConfByState icms_conf_state: The pet JSON you want to post (required)
        :return: InlineResponse201
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.create_icmsconfstate_with_http_info(state, icms_conf_state, **kwargs)
        else:
            (data) = self.create_icmsconfstate_with_http_info(state, icms_conf_state, **kwargs)
            return data

    def create_icmsconfstate_with_http_info(self, state, icms_conf_state, **kwargs):
        """
        create a new ICMS Configuration
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.create_icmsconfstate_with_http_info(state, icms_conf_state, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str state: Brazilian State (required)
        :param IcmsConfByState icms_conf_state: The pet JSON you want to post (required)
        :return: InlineResponse201
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['state', 'icms_conf_state']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_icmsconfstate" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'state' is set
        if ('state' not in params) or (params['state'] is None):
            raise ValueError("Missing the required parameter `state` when calling `create_icmsconfstate`")
        # verify the required parameter 'icms_conf_state' is set
        if ('icms_conf_state' not in params) or (params['icms_conf_state'] is None):
            raise ValueError("Missing the required parameter `icms_conf_state` when calling `create_icmsconfstate`")

        if 'state' in params and len(params['state']) > 2:
            raise ValueError("Invalid value for parameter `state` when calling `create_icmsconfstate`, length must be less than or equal to `2`")

        collection_formats = {}

        resource_path = '/taxconf/icms/{state}'.replace('{format}', 'json')
        path_params = {}
        if 'state' in params:
            path_params['state'] = params['state']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'icms_conf_state' in params:
            body_params = params['icms_conf_state']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='InlineResponse201',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def delete_icms_conf(self, state, code, **kwargs):
        """
        disable a ICMS by State.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_icms_conf(state, code, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str state: Brazilian State (required)
        :param str code: ICMS Code (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.delete_icms_conf_with_http_info(state, code, **kwargs)
        else:
            (data) = self.delete_icms_conf_with_http_info(state, code, **kwargs)
            return data

    def delete_icms_conf_with_http_info(self, state, code, **kwargs):
        """
        disable a ICMS by State.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_icms_conf_with_http_info(state, code, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str state: Brazilian State (required)
        :param str code: ICMS Code (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['state', 'code']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_icms_conf" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'state' is set
        if ('state' not in params) or (params['state'] is None):
            raise ValueError("Missing the required parameter `state` when calling `delete_icms_conf`")
        # verify the required parameter 'code' is set
        if ('code' not in params) or (params['code'] is None):
            raise ValueError("Missing the required parameter `code` when calling `delete_icms_conf`")

        if 'state' in params and len(params['state']) > 2:
            raise ValueError("Invalid value for parameter `state` when calling `delete_icms_conf`, length must be less than or equal to `2`")
        if 'code' in params and len(params['code']) > 60:
            raise ValueError("Invalid value for parameter `code` when calling `delete_icms_conf`, length must be less than or equal to `60`")

        collection_formats = {}

        resource_path = '/taxconf/icms/{state}/{code}'.replace('{format}', 'json')
        path_params = {}
        if 'state' in params:
            path_params['state'] = params['state']
        if 'code' in params:
            path_params['code'] = params['code']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'DELETE',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type=None,
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def get_icms_conf_by_state(self, state, code, **kwargs):
        """
        get ICMS information by State.
        This operation return configurations of icms that match with parameters queries 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_icms_conf_by_state(state, code, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str state: Brazilian State (required)
        :param str code: ICMS Code (required)
        :return: list[IcmsConfByState]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_icms_conf_by_state_with_http_info(state, code, **kwargs)
        else:
            (data) = self.get_icms_conf_by_state_with_http_info(state, code, **kwargs)
            return data

    def get_icms_conf_by_state_with_http_info(self, state, code, **kwargs):
        """
        get ICMS information by State.
        This operation return configurations of icms that match with parameters queries 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_icms_conf_by_state_with_http_info(state, code, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str state: Brazilian State (required)
        :param str code: ICMS Code (required)
        :return: list[IcmsConfByState]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['state', 'code']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_icms_conf_by_state" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'state' is set
        if ('state' not in params) or (params['state'] is None):
            raise ValueError("Missing the required parameter `state` when calling `get_icms_conf_by_state`")
        # verify the required parameter 'code' is set
        if ('code' not in params) or (params['code'] is None):
            raise ValueError("Missing the required parameter `code` when calling `get_icms_conf_by_state`")

        if 'state' in params and len(params['state']) > 2:
            raise ValueError("Invalid value for parameter `state` when calling `get_icms_conf_by_state`, length must be less than or equal to `2`")
        if 'code' in params and len(params['code']) > 60:
            raise ValueError("Invalid value for parameter `code` when calling `get_icms_conf_by_state`, length must be less than or equal to `60`")

        collection_formats = {}

        resource_path = '/taxconf/icms/{state}/{code}'.replace('{format}', 'json')
        path_params = {}
        if 'state' in params:
            path_params['state'] = params['state']
        if 'code' in params:
            path_params['code'] = params['code']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='list[IcmsConfByState]',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def get_icms_list(self, state, **kwargs):
        """
        retrive list of ICMS.
        This operation return ICMS configurations that match with parameters queries 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_icms_list(state, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str state: Brazilian State (required)
        :param str suffixcode: Identify this ICMS
        :param date date: When informed return valid version configuration for this date
        :param bool inactive: return the inactive versions too
        :return: list[IcmsConfByState]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_icms_list_with_http_info(state, **kwargs)
        else:
            (data) = self.get_icms_list_with_http_info(state, **kwargs)
            return data

    def get_icms_list_with_http_info(self, state, **kwargs):
        """
        retrive list of ICMS.
        This operation return ICMS configurations that match with parameters queries 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_icms_list_with_http_info(state, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str state: Brazilian State (required)
        :param str suffixcode: Identify this ICMS
        :param date date: When informed return valid version configuration for this date
        :param bool inactive: return the inactive versions too
        :return: list[IcmsConfByState]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['state', 'suffixcode', 'date', 'inactive']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_icms_list" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'state' is set
        if ('state' not in params) or (params['state'] is None):
            raise ValueError("Missing the required parameter `state` when calling `get_icms_list`")

        if 'state' in params and len(params['state']) > 2:
            raise ValueError("Invalid value for parameter `state` when calling `get_icms_list`, length must be less than or equal to `2`")
        if 'suffixcode' in params and len(params['suffixcode']) > 60:
            raise ValueError("Invalid value for parameter `suffixcode` when calling `get_icms_list`, length must be less than or equal to `60`")

        collection_formats = {}

        resource_path = '/taxconf/icms/{state}'.replace('{format}', 'json')
        path_params = {}
        if 'state' in params:
            path_params['state'] = params['state']

        query_params = {}
        if 'suffixcode' in params:
            query_params['suffixcode'] = params['suffixcode']
        if 'date' in params:
            query_params['date'] = params['date']
        if 'inactive' in params:
            query_params['inactive'] = params['inactive']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='list[IcmsConfByState]',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def get_icms_list_0(self, text, **kwargs):
        """
        retrive list of ICMS.
        This operation return ICMS configurations that match with parameters queries 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_icms_list_0(text, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str text: Search for codes (required)
        :param str state: Filter for states
        :return: list[IcmsConfByState]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_icms_list_0_with_http_info(text, **kwargs)
        else:
            (data) = self.get_icms_list_0_with_http_info(text, **kwargs)
            return data

    def get_icms_list_0_with_http_info(self, text, **kwargs):
        """
        retrive list of ICMS.
        This operation return ICMS configurations that match with parameters queries 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_icms_list_0_with_http_info(text, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str text: Search for codes (required)
        :param str state: Filter for states
        :return: list[IcmsConfByState]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['text', 'state']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_icms_list_0" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'text' is set
        if ('text' not in params) or (params['text'] is None):
            raise ValueError("Missing the required parameter `text` when calling `get_icms_list_0`")

        if 'text' in params and len(params['text']) > 60:
            raise ValueError("Invalid value for parameter `text` when calling `get_icms_list_0`, length must be less than or equal to `60`")
        if 'state' in params and len(params['state']) > 2:
            raise ValueError("Invalid value for parameter `state` when calling `get_icms_list_0`, length must be less than or equal to `2`")

        collection_formats = {}

        resource_path = '/taxconf/icms-search/'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'text' in params:
            query_params['text'] = params['text']
        if 'state' in params:
            query_params['state'] = params['state']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='list[IcmsConfByState]',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def update_icmsconfstate(self, state, code, icms_conf_state, **kwargs):
        """
        update a IcmsConf State,
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.update_icmsconfstate(state, code, icms_conf_state, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str state: Brazilian State (required)
        :param str code: ICMS Code (required)
        :param IcmsConfByState icms_conf_state: The pet JSON you want to post (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.update_icmsconfstate_with_http_info(state, code, icms_conf_state, **kwargs)
        else:
            (data) = self.update_icmsconfstate_with_http_info(state, code, icms_conf_state, **kwargs)
            return data

    def update_icmsconfstate_with_http_info(self, state, code, icms_conf_state, **kwargs):
        """
        update a IcmsConf State,
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.update_icmsconfstate_with_http_info(state, code, icms_conf_state, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str state: Brazilian State (required)
        :param str code: ICMS Code (required)
        :param IcmsConfByState icms_conf_state: The pet JSON you want to post (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['state', 'code', 'icms_conf_state']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_icmsconfstate" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'state' is set
        if ('state' not in params) or (params['state'] is None):
            raise ValueError("Missing the required parameter `state` when calling `update_icmsconfstate`")
        # verify the required parameter 'code' is set
        if ('code' not in params) or (params['code'] is None):
            raise ValueError("Missing the required parameter `code` when calling `update_icmsconfstate`")
        # verify the required parameter 'icms_conf_state' is set
        if ('icms_conf_state' not in params) or (params['icms_conf_state'] is None):
            raise ValueError("Missing the required parameter `icms_conf_state` when calling `update_icmsconfstate`")

        if 'state' in params and len(params['state']) > 2:
            raise ValueError("Invalid value for parameter `state` when calling `update_icmsconfstate`, length must be less than or equal to `2`")
        if 'code' in params and len(params['code']) > 60:
            raise ValueError("Invalid value for parameter `code` when calling `update_icmsconfstate`, length must be less than or equal to `60`")

        collection_formats = {}

        resource_path = '/taxconf/icms/{state}/{code}'.replace('{format}', 'json')
        path_params = {}
        if 'state' in params:
            path_params['state'] = params['state']
        if 'code' in params:
            path_params['code'] = params['code']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'icms_conf_state' in params:
            body_params = params['icms_conf_state']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'PUT',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type=None,
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)
