=begin
#BR16 - API

#This documentation is about service accessories that will compose the product BR16, this services are essencial to maintenance and configuration of accounts

OpenAPI spec version: 1.0

Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module SwaggerClient
  class AccountApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Retrieve Companies by account
    # Retrieve list companies of one account
    # @param account_id Account ID
    # @param [Hash] opts the optional parameters
    # @return [Array<AccountCompany>]
    def accounts_account_id_companies_get(account_id, opts = {})
      data, _status_code, _headers = accounts_account_id_companies_get_with_http_info(account_id, opts)
      return data
    end

    # Retrieve Companies by account
    # Retrieve list companies of one account
    # @param account_id Account ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<AccountCompany>, Fixnum, Hash)>] Array<AccountCompany> data, response status code and response headers
    def accounts_account_id_companies_get_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AccountApi.accounts_account_id_companies_get ..."
      end
      # verify the required parameter 'account_id' is set
      fail ArgumentError, "Missing the required parameter 'account_id' when calling AccountApi.accounts_account_id_companies_get" if account_id.nil?
      # resource path
      local_var_path = "/accounts/{accountId}/companies".sub('{format}','json').sub('{' + 'accountId' + '}', account_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<AccountCompany>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountApi#accounts_account_id_companies_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create company and your data configuration
    # This method operation create a company for a account 
    # @param account_id Account ID
    # @param body Company Code
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse201]
    def create_account_company(account_id, body, opts = {})
      data, _status_code, _headers = create_account_company_with_http_info(account_id, body, opts)
      return data
    end

    # Create company and your data configuration
    # This method operation create a company for a account 
    # @param account_id Account ID
    # @param body Company Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse201, Fixnum, Hash)>] InlineResponse201 data, response status code and response headers
    def create_account_company_with_http_info(account_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AccountApi.create_account_company ..."
      end
      # verify the required parameter 'account_id' is set
      fail ArgumentError, "Missing the required parameter 'account_id' when calling AccountApi.create_account_company" if account_id.nil?
      # verify the required parameter 'body' is set
      fail ArgumentError, "Missing the required parameter 'body' when calling AccountApi.create_account_company" if body.nil?
      # resource path
      local_var_path = "/accounts/{accountId}/companies".sub('{format}','json').sub('{' + 'accountId' + '}', account_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse201')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountApi#create_account_company\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
