=begin
#BR16 - API

#This documentation is about service accessories that will compose the product BR16, this services are essencial to maintenance and configuration of accounts

OpenAPI spec version: 1.0

Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module SwaggerClient
  class CompanyTaxRatesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # 
    # This operation return custom agast configurations that match with parameters queries 
    # @param company_id Company ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :x_pagination_limit The per page limit. Currently set to 10 but subject to change at any time (max 100). (default to 10)
    # @option opts [Integer] :x_pagination_current_page The current page. Defaults to 1. (default to 1)
    # @option opts [String] :x_pagination_sort 
    # @return [Array<CustomTaxTypeRate>]
    def companies_company_id_taxrates_get(company_id, opts = {})
      data, _status_code, _headers = companies_company_id_taxrates_get_with_http_info(company_id, opts)
      return data
    end

    # 
    # This operation return custom agast configurations that match with parameters queries 
    # @param company_id Company ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :x_pagination_limit The per page limit. Currently set to 10 but subject to change at any time (max 100).
    # @option opts [Integer] :x_pagination_current_page The current page. Defaults to 1.
    # @option opts [String] :x_pagination_sort 
    # @return [Array<(Array<CustomTaxTypeRate>, Fixnum, Hash)>] Array<CustomTaxTypeRate> data, response status code and response headers
    def companies_company_id_taxrates_get_with_http_info(company_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CompanyTaxRatesApi.companies_company_id_taxrates_get ..."
      end
      # verify the required parameter 'company_id' is set
      fail ArgumentError, "Missing the required parameter 'company_id' when calling CompanyTaxRatesApi.companies_company_id_taxrates_get" if company_id.nil?
      if !opts[:'x_pagination_limit'].nil? && opts[:'x_pagination_limit'] < 5
        fail ArgumentError, 'invalid value for "opts[:"x_pagination_limit"]" when calling CompanyTaxRatesApi.companies_company_id_taxrates_get, must be greater than or equal to 5.'
      end

      if !opts[:'x_pagination_current_page'].nil? && opts[:'x_pagination_current_page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"x_pagination_current_page"]" when calling CompanyTaxRatesApi.companies_company_id_taxrates_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = "/companies/{companyId}/taxrates".sub('{format}','json').sub('{' + 'companyId' + '}', company_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Pagination-Limit'] = opts[:'x_pagination_limit'] if !opts[:'x_pagination_limit'].nil?
      header_params[:'X-Pagination-Current-Page'] = opts[:'x_pagination_current_page'] if !opts[:'x_pagination_current_page'].nil?
      header_params[:'X-Pagination-Sort'] = opts[:'x_pagination_sort'] if !opts[:'x_pagination_sort'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<CustomTaxTypeRate>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompanyTaxRatesApi#companies_company_id_taxrates_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # This operation return custom agast configurations that match with parameters queries 
    # @param company_id Company ID
    # @param tax_type Tax Type
    # @param [Hash] opts the optional parameters
    # @return [CustomTaxTypeRate]
    def companies_company_id_taxrates_tax_type_get(company_id, tax_type, opts = {})
      data, _status_code, _headers = companies_company_id_taxrates_tax_type_get_with_http_info(company_id, tax_type, opts)
      return data
    end

    # 
    # This operation return custom agast configurations that match with parameters queries 
    # @param company_id Company ID
    # @param tax_type Tax Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomTaxTypeRate, Fixnum, Hash)>] CustomTaxTypeRate data, response status code and response headers
    def companies_company_id_taxrates_tax_type_get_with_http_info(company_id, tax_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CompanyTaxRatesApi.companies_company_id_taxrates_tax_type_get ..."
      end
      # verify the required parameter 'company_id' is set
      fail ArgumentError, "Missing the required parameter 'company_id' when calling CompanyTaxRatesApi.companies_company_id_taxrates_tax_type_get" if company_id.nil?
      # verify the required parameter 'tax_type' is set
      fail ArgumentError, "Missing the required parameter 'tax_type' when calling CompanyTaxRatesApi.companies_company_id_taxrates_tax_type_get" if tax_type.nil?
      # verify enum value
      unless ['inss', 'inss-rf', 'irrf', 'pis', 'pis-rf', 'cofins', 'cofins-rf', 'csll', 'csll-rf', 'irpj', 'iss', 'iss-rf', 'ipi'].include?(tax_type)
        fail ArgumentError, "invalid value for 'tax_type', must be one of inss, inss-rf, irrf, pis, pis-rf, cofins, cofins-rf, csll, csll-rf, irpj, iss, iss-rf, ipi"
      end
      # resource path
      local_var_path = "/companies/{companyId}/taxrates/{taxType}".sub('{format}','json').sub('{' + 'companyId' + '}', company_id.to_s).sub('{' + 'taxType' + '}', tax_type.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CustomTaxTypeRate')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompanyTaxRatesApi#companies_company_id_taxrates_tax_type_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create custom agast for one company
    # This method operation create a custom agast for one company 
    # @param company_id Company ID
    # @param body Transaction Message
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse201]
    def create_custom_taxes(company_id, body, opts = {})
      data, _status_code, _headers = create_custom_taxes_with_http_info(company_id, body, opts)
      return data
    end

    # Create custom agast for one company
    # This method operation create a custom agast for one company 
    # @param company_id Company ID
    # @param body Transaction Message
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse201, Fixnum, Hash)>] InlineResponse201 data, response status code and response headers
    def create_custom_taxes_with_http_info(company_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CompanyTaxRatesApi.create_custom_taxes ..."
      end
      # verify the required parameter 'company_id' is set
      fail ArgumentError, "Missing the required parameter 'company_id' when calling CompanyTaxRatesApi.create_custom_taxes" if company_id.nil?
      # verify the required parameter 'body' is set
      fail ArgumentError, "Missing the required parameter 'body' when calling CompanyTaxRatesApi.create_custom_taxes" if body.nil?
      # resource path
      local_var_path = "/companies/{companyId}/taxrates".sub('{format}','json').sub('{' + 'companyId' + '}', company_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse201')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompanyTaxRatesApi#create_custom_taxes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # 
    # @param company_id Company ID
    # @param tax_type Tax Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_custom_taxes(company_id, tax_type, opts = {})
      delete_custom_taxes_with_http_info(company_id, tax_type, opts)
      return nil
    end

    # 
    # 
    # @param company_id Company ID
    # @param tax_type Tax Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_custom_taxes_with_http_info(company_id, tax_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CompanyTaxRatesApi.delete_custom_taxes ..."
      end
      # verify the required parameter 'company_id' is set
      fail ArgumentError, "Missing the required parameter 'company_id' when calling CompanyTaxRatesApi.delete_custom_taxes" if company_id.nil?
      # verify the required parameter 'tax_type' is set
      fail ArgumentError, "Missing the required parameter 'tax_type' when calling CompanyTaxRatesApi.delete_custom_taxes" if tax_type.nil?
      # verify enum value
      unless ['inss', 'inss-rf', 'irrf', 'pis', 'pis-rf', 'cofins', 'cofins-rf', 'csll', 'csll-rf', 'irpj', 'iss', 'iss-rf', 'ipi'].include?(tax_type)
        fail ArgumentError, "invalid value for 'tax_type', must be one of inss, inss-rf, irrf, pis, pis-rf, cofins, cofins-rf, csll, csll-rf, irpj, iss, iss-rf, ipi"
      end
      # resource path
      local_var_path = "/companies/{companyId}/taxrates/{taxType}".sub('{format}','json').sub('{' + 'companyId' + '}', company_id.to_s).sub('{' + 'taxType' + '}', tax_type.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompanyTaxRatesApi#delete_custom_taxes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update custom agast for one company
    # This method operation create a custom agast for one company 
    # @param company_id Company ID
    # @param tax_type Tax Type
    # @param body Transaction Message
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def update_custom_taxes(company_id, tax_type, body, opts = {})
      update_custom_taxes_with_http_info(company_id, tax_type, body, opts)
      return nil
    end

    # Update custom agast for one company
    # This method operation create a custom agast for one company 
    # @param company_id Company ID
    # @param tax_type Tax Type
    # @param body Transaction Message
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def update_custom_taxes_with_http_info(company_id, tax_type, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CompanyTaxRatesApi.update_custom_taxes ..."
      end
      # verify the required parameter 'company_id' is set
      fail ArgumentError, "Missing the required parameter 'company_id' when calling CompanyTaxRatesApi.update_custom_taxes" if company_id.nil?
      # verify the required parameter 'tax_type' is set
      fail ArgumentError, "Missing the required parameter 'tax_type' when calling CompanyTaxRatesApi.update_custom_taxes" if tax_type.nil?
      # verify enum value
      unless ['inss', 'inss-rf', 'irrf', 'pis', 'pis-rf', 'cofins', 'cofins-rf', 'csll', 'csll-rf', 'irpj', 'iss', 'iss-rf', 'ipi'].include?(tax_type)
        fail ArgumentError, "invalid value for 'tax_type', must be one of inss, inss-rf, irrf, pis, pis-rf, cofins, cofins-rf, csll, csll-rf, irpj, iss, iss-rf, ipi"
      end
      # verify the required parameter 'body' is set
      fail ArgumentError, "Missing the required parameter 'body' when calling CompanyTaxRatesApi.update_custom_taxes" if body.nil?
      # resource path
      local_var_path = "/companies/{companyId}/taxrates/{taxType}".sub('{format}','json').sub('{' + 'companyId' + '}', company_id.to_s).sub('{' + 'taxType' + '}', tax_type.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompanyTaxRatesApi#update_custom_taxes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
