=begin
#BR16 - API

#This documentation is about service accessories that will compose the product BR16, this services are essencial to maintenance and configuration of accounts

OpenAPI spec version: 1.0

Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module SwaggerClient
  class CompanyItemCPOMServiceApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # 
    # This operation return custom agast configurations that match with parameters queries 
    # @param company_id Company ID
    # @param code Item Code
    # @param city_code City Code
    # @param [Hash] opts the optional parameters
    # @return [ItemCpom]
    def companies_company_id_items_code_cpom_city_code_get(company_id, code, city_code, opts = {})
      data, _status_code, _headers = companies_company_id_items_code_cpom_city_code_get_with_http_info(company_id, code, city_code, opts)
      return data
    end

    # 
    # This operation return custom agast configurations that match with parameters queries 
    # @param company_id Company ID
    # @param code Item Code
    # @param city_code City Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(ItemCpom, Fixnum, Hash)>] ItemCpom data, response status code and response headers
    def companies_company_id_items_code_cpom_city_code_get_with_http_info(company_id, code, city_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CompanyItemCPOMServiceApi.companies_company_id_items_code_cpom_city_code_get ..."
      end
      # verify the required parameter 'company_id' is set
      fail ArgumentError, "Missing the required parameter 'company_id' when calling CompanyItemCPOMServiceApi.companies_company_id_items_code_cpom_city_code_get" if company_id.nil?
      # verify the required parameter 'code' is set
      fail ArgumentError, "Missing the required parameter 'code' when calling CompanyItemCPOMServiceApi.companies_company_id_items_code_cpom_city_code_get" if code.nil?
      if code.to_s.length > 60
        fail ArgumentError, 'invalid value for "code" when calling CompanyItemCPOMServiceApi.companies_company_id_items_code_cpom_city_code_get, the character length must be smaller than or equal to 60.'
      end

      # verify the required parameter 'city_code' is set
      fail ArgumentError, "Missing the required parameter 'city_code' when calling CompanyItemCPOMServiceApi.companies_company_id_items_code_cpom_city_code_get" if city_code.nil?
      # resource path
      local_var_path = "/companies/{companyId}/items/{code}/cpom/{cityCode}".sub('{format}','json').sub('{' + 'companyId' + '}', company_id.to_s).sub('{' + 'code' + '}', code.to_s).sub('{' + 'cityCode' + '}', city_code.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ItemCpom')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompanyItemCPOMServiceApi#companies_company_id_items_code_cpom_city_code_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # This operation return custom agast configurations that match with parameters queries 
    # @param company_id Company ID
    # @param code Item Code
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :x_pagination_limit The per page limit. Currently set to 10 but subject to change at any time (max 100). (default to 10)
    # @option opts [Integer] :x_pagination_current_page The current page. Defaults to 1. (default to 1)
    # @option opts [String] :x_pagination_sort 
    # @return [Array<ItemCpom>]
    def companies_company_id_items_code_cpom_get(company_id, code, opts = {})
      data, _status_code, _headers = companies_company_id_items_code_cpom_get_with_http_info(company_id, code, opts)
      return data
    end

    # 
    # This operation return custom agast configurations that match with parameters queries 
    # @param company_id Company ID
    # @param code Item Code
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :x_pagination_limit The per page limit. Currently set to 10 but subject to change at any time (max 100).
    # @option opts [Integer] :x_pagination_current_page The current page. Defaults to 1.
    # @option opts [String] :x_pagination_sort 
    # @return [Array<(Array<ItemCpom>, Fixnum, Hash)>] Array<ItemCpom> data, response status code and response headers
    def companies_company_id_items_code_cpom_get_with_http_info(company_id, code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CompanyItemCPOMServiceApi.companies_company_id_items_code_cpom_get ..."
      end
      # verify the required parameter 'company_id' is set
      fail ArgumentError, "Missing the required parameter 'company_id' when calling CompanyItemCPOMServiceApi.companies_company_id_items_code_cpom_get" if company_id.nil?
      # verify the required parameter 'code' is set
      fail ArgumentError, "Missing the required parameter 'code' when calling CompanyItemCPOMServiceApi.companies_company_id_items_code_cpom_get" if code.nil?
      if code.to_s.length > 60
        fail ArgumentError, 'invalid value for "code" when calling CompanyItemCPOMServiceApi.companies_company_id_items_code_cpom_get, the character length must be smaller than or equal to 60.'
      end

      if !opts[:'x_pagination_limit'].nil? && opts[:'x_pagination_limit'] < 5
        fail ArgumentError, 'invalid value for "opts[:"x_pagination_limit"]" when calling CompanyItemCPOMServiceApi.companies_company_id_items_code_cpom_get, must be greater than or equal to 5.'
      end

      if !opts[:'x_pagination_current_page'].nil? && opts[:'x_pagination_current_page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"x_pagination_current_page"]" when calling CompanyItemCPOMServiceApi.companies_company_id_items_code_cpom_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = "/companies/{companyId}/items/{code}/cpom".sub('{format}','json').sub('{' + 'companyId' + '}', company_id.to_s).sub('{' + 'code' + '}', code.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Pagination-Limit'] = opts[:'x_pagination_limit'] if !opts[:'x_pagination_limit'].nil?
      header_params[:'X-Pagination-Current-Page'] = opts[:'x_pagination_current_page'] if !opts[:'x_pagination_current_page'].nil?
      header_params[:'X-Pagination-Sort'] = opts[:'x_pagination_sort'] if !opts[:'x_pagination_sort'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<ItemCpom>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompanyItemCPOMServiceApi#companies_company_id_items_code_cpom_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create custom agast for one company
    # This method operation create a custom agast for one company 
    # @param company_id Company ID
    # @param code Item Code
    # @param body Transaction Message
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse201]
    def create_item_cpom(company_id, code, body, opts = {})
      data, _status_code, _headers = create_item_cpom_with_http_info(company_id, code, body, opts)
      return data
    end

    # Create custom agast for one company
    # This method operation create a custom agast for one company 
    # @param company_id Company ID
    # @param code Item Code
    # @param body Transaction Message
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse201, Fixnum, Hash)>] InlineResponse201 data, response status code and response headers
    def create_item_cpom_with_http_info(company_id, code, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CompanyItemCPOMServiceApi.create_item_cpom ..."
      end
      # verify the required parameter 'company_id' is set
      fail ArgumentError, "Missing the required parameter 'company_id' when calling CompanyItemCPOMServiceApi.create_item_cpom" if company_id.nil?
      # verify the required parameter 'code' is set
      fail ArgumentError, "Missing the required parameter 'code' when calling CompanyItemCPOMServiceApi.create_item_cpom" if code.nil?
      if code.to_s.length > 60
        fail ArgumentError, 'invalid value for "code" when calling CompanyItemCPOMServiceApi.create_item_cpom, the character length must be smaller than or equal to 60.'
      end

      # verify the required parameter 'body' is set
      fail ArgumentError, "Missing the required parameter 'body' when calling CompanyItemCPOMServiceApi.create_item_cpom" if body.nil?
      # resource path
      local_var_path = "/companies/{companyId}/items/{code}/cpom".sub('{format}','json').sub('{' + 'companyId' + '}', company_id.to_s).sub('{' + 'code' + '}', code.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse201')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompanyItemCPOMServiceApi#create_item_cpom\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # 
    # @param company_id Company ID
    # @param code Item Code
    # @param city_code City Code
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_item_cpom(company_id, code, city_code, opts = {})
      delete_item_cpom_with_http_info(company_id, code, city_code, opts)
      return nil
    end

    # 
    # 
    # @param company_id Company ID
    # @param code Item Code
    # @param city_code City Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_item_cpom_with_http_info(company_id, code, city_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CompanyItemCPOMServiceApi.delete_item_cpom ..."
      end
      # verify the required parameter 'company_id' is set
      fail ArgumentError, "Missing the required parameter 'company_id' when calling CompanyItemCPOMServiceApi.delete_item_cpom" if company_id.nil?
      # verify the required parameter 'code' is set
      fail ArgumentError, "Missing the required parameter 'code' when calling CompanyItemCPOMServiceApi.delete_item_cpom" if code.nil?
      if code.to_s.length > 60
        fail ArgumentError, 'invalid value for "code" when calling CompanyItemCPOMServiceApi.delete_item_cpom, the character length must be smaller than or equal to 60.'
      end

      # verify the required parameter 'city_code' is set
      fail ArgumentError, "Missing the required parameter 'city_code' when calling CompanyItemCPOMServiceApi.delete_item_cpom" if city_code.nil?
      # resource path
      local_var_path = "/companies/{companyId}/items/{code}/cpom/{cityCode}".sub('{format}','json').sub('{' + 'companyId' + '}', company_id.to_s).sub('{' + 'code' + '}', code.to_s).sub('{' + 'cityCode' + '}', city_code.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompanyItemCPOMServiceApi#delete_item_cpom\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update custom agast for one company
    # This method operation create a custom agast for one company 
    # @param company_id Company ID
    # @param code Item Code
    # @param city_code City Code
    # @param body Transaction Message
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def update_item_cpom(company_id, code, city_code, body, opts = {})
      update_item_cpom_with_http_info(company_id, code, city_code, body, opts)
      return nil
    end

    # Update custom agast for one company
    # This method operation create a custom agast for one company 
    # @param company_id Company ID
    # @param code Item Code
    # @param city_code City Code
    # @param body Transaction Message
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def update_item_cpom_with_http_info(company_id, code, city_code, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CompanyItemCPOMServiceApi.update_item_cpom ..."
      end
      # verify the required parameter 'company_id' is set
      fail ArgumentError, "Missing the required parameter 'company_id' when calling CompanyItemCPOMServiceApi.update_item_cpom" if company_id.nil?
      # verify the required parameter 'code' is set
      fail ArgumentError, "Missing the required parameter 'code' when calling CompanyItemCPOMServiceApi.update_item_cpom" if code.nil?
      if code.to_s.length > 60
        fail ArgumentError, 'invalid value for "code" when calling CompanyItemCPOMServiceApi.update_item_cpom, the character length must be smaller than or equal to 60.'
      end

      # verify the required parameter 'city_code' is set
      fail ArgumentError, "Missing the required parameter 'city_code' when calling CompanyItemCPOMServiceApi.update_item_cpom" if city_code.nil?
      # verify the required parameter 'body' is set
      fail ArgumentError, "Missing the required parameter 'body' when calling CompanyItemCPOMServiceApi.update_item_cpom" if body.nil?
      # resource path
      local_var_path = "/companies/{companyId}/items/{code}/cpom/{cityCode}".sub('{format}','json').sub('{' + 'companyId' + '}', company_id.to_s).sub('{' + 'code' + '}', code.to_s).sub('{' + 'cityCode' + '}', city_code.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompanyItemCPOMServiceApi#update_item_cpom\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
