=begin
#AvaTax Brazil

#The Avatax-Brazil API exposes the most commonly services available for interacting with the AvaTax-Brazil services, allowing calculation of taxes, issuing electronic invoice documents and modifying existing transactions when allowed by tax authorities.  This API is exclusively for use by business with a physical presence in Brazil.

OpenAPI spec version: 1.0

Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module SwaggerClient
  class CompanyItemGoodsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # 
    # Change the code of a given item. 
    # @param company_id Company ID
    # @param code Item Code
    # @param body Requisition
    # @param [Hash] opts the optional parameters
    # @option opts [String] :goods Provide to apply to goods items.
    # @option opts [String] :service Provide to apply to service items.
    # @return [nil]
    def companies_company_id_items_code_change_code_put(company_id, code, body, opts = {})
      companies_company_id_items_code_change_code_put_with_http_info(company_id, code, body, opts)
      return nil
    end

    # 
    # Change the code of a given item. 
    # @param company_id Company ID
    # @param code Item Code
    # @param body Requisition
    # @param [Hash] opts the optional parameters
    # @option opts [String] :goods Provide to apply to goods items.
    # @option opts [String] :service Provide to apply to service items.
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def companies_company_id_items_code_change_code_put_with_http_info(company_id, code, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CompanyItemGoodsApi.companies_company_id_items_code_change_code_put ..."
      end
      # verify the required parameter 'company_id' is set
      fail ArgumentError, "Missing the required parameter 'company_id' when calling CompanyItemGoodsApi.companies_company_id_items_code_change_code_put" if company_id.nil?
      # verify the required parameter 'code' is set
      fail ArgumentError, "Missing the required parameter 'code' when calling CompanyItemGoodsApi.companies_company_id_items_code_change_code_put" if code.nil?
      if code.to_s.length > 60
        fail ArgumentError, 'invalid value for "code" when calling CompanyItemGoodsApi.companies_company_id_items_code_change_code_put, the character length must be smaller than or equal to 60.'
      end

      # verify the required parameter 'body' is set
      fail ArgumentError, "Missing the required parameter 'body' when calling CompanyItemGoodsApi.companies_company_id_items_code_change_code_put" if body.nil?
      # resource path
      local_var_path = "/companies/{companyId}/items/{code}/change-code".sub('{format}','json').sub('{' + 'companyId' + '}', company_id.to_s).sub('{' + 'code' + '}', code.to_s)

      # query parameters
      query_params = {}
      query_params[:'goods'] = opts[:'goods'] if !opts[:'goods'].nil?
      query_params[:'service'] = opts[:'service'] if !opts[:'service'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompanyItemGoodsApi#companies_company_id_items_code_change_code_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # This operation return custom agast configurations that match with parameters queries 
    # @param company_id Company ID
    # @param code Item Code
    # @param avalara_product_type Avalara Product Type
    # @param [Hash] opts the optional parameters
    # @option opts [String] :agast Custom Agast Code
    # @return [ItemGoods]
    def companies_company_id_items_codegoods_get(company_id, code, avalara_product_type, opts = {})
      data, _status_code, _headers = companies_company_id_items_codegoods_get_with_http_info(company_id, code, avalara_product_type, opts)
      return data
    end

    # 
    # This operation return custom agast configurations that match with parameters queries 
    # @param company_id Company ID
    # @param code Item Code
    # @param avalara_product_type Avalara Product Type
    # @param [Hash] opts the optional parameters
    # @option opts [String] :agast Custom Agast Code
    # @return [Array<(ItemGoods, Fixnum, Hash)>] ItemGoods data, response status code and response headers
    def companies_company_id_items_codegoods_get_with_http_info(company_id, code, avalara_product_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CompanyItemGoodsApi.companies_company_id_items_codegoods_get ..."
      end
      # verify the required parameter 'company_id' is set
      fail ArgumentError, "Missing the required parameter 'company_id' when calling CompanyItemGoodsApi.companies_company_id_items_codegoods_get" if company_id.nil?
      # verify the required parameter 'code' is set
      fail ArgumentError, "Missing the required parameter 'code' when calling CompanyItemGoodsApi.companies_company_id_items_codegoods_get" if code.nil?
      if code.to_s.length > 60
        fail ArgumentError, 'invalid value for "code" when calling CompanyItemGoodsApi.companies_company_id_items_codegoods_get, the character length must be smaller than or equal to 60.'
      end

      # verify the required parameter 'avalara_product_type' is set
      fail ArgumentError, "Missing the required parameter 'avalara_product_type' when calling CompanyItemGoodsApi.companies_company_id_items_codegoods_get" if avalara_product_type.nil?
      # verify enum value
      unless ['goods', 'service'].include?(avalara_product_type)
        fail ArgumentError, "invalid value for 'avalara_product_type', must be one of goods, service"
      end
      if !opts[:'agast'].nil? && opts[:'agast'].to_s.length > 60
        fail ArgumentError, 'invalid value for "opts[:"agast"]" when calling CompanyItemGoodsApi.companies_company_id_items_codegoods_get, the character length must be smaller than or equal to 60.'
      end

      # resource path
      local_var_path = "/companies/{companyId}/items/{code}?goods".sub('{format}','json').sub('{' + 'companyId' + '}', company_id.to_s).sub('{' + 'code' + '}', code.to_s)

      # query parameters
      query_params = {}
      query_params[:'agast'] = opts[:'agast'] if !opts[:'agast'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'Avalara-Product-Type'] = avalara_product_type

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ItemGoods')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompanyItemGoodsApi#companies_company_id_items_codegoods_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # This operation return custom agast configurations that match with parameters queries 
    # @param company_id Company ID
    # @param avalara_product_type Avalara Product Type
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :x_pagination_limit The per page limit. Currently set to 10 but subject to change at any time (max 100). (default to 10)
    # @option opts [Integer] :x_pagination_current_page The current page. Defaults to 1. (default to 1)
    # @option opts [String] :x_pagination_sort 
    # @option opts [String] :code Item Code
    # @option opts [String] :agast Custom Agast Code
    # @return [Array<ItemGoods>]
    def companies_company_id_itemsgoods_get(company_id, avalara_product_type, opts = {})
      data, _status_code, _headers = companies_company_id_itemsgoods_get_with_http_info(company_id, avalara_product_type, opts)
      return data
    end

    # 
    # This operation return custom agast configurations that match with parameters queries 
    # @param company_id Company ID
    # @param avalara_product_type Avalara Product Type
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :x_pagination_limit The per page limit. Currently set to 10 but subject to change at any time (max 100).
    # @option opts [Integer] :x_pagination_current_page The current page. Defaults to 1.
    # @option opts [String] :x_pagination_sort 
    # @option opts [String] :code Item Code
    # @option opts [String] :agast Custom Agast Code
    # @return [Array<(Array<ItemGoods>, Fixnum, Hash)>] Array<ItemGoods> data, response status code and response headers
    def companies_company_id_itemsgoods_get_with_http_info(company_id, avalara_product_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CompanyItemGoodsApi.companies_company_id_itemsgoods_get ..."
      end
      # verify the required parameter 'company_id' is set
      fail ArgumentError, "Missing the required parameter 'company_id' when calling CompanyItemGoodsApi.companies_company_id_itemsgoods_get" if company_id.nil?
      # verify the required parameter 'avalara_product_type' is set
      fail ArgumentError, "Missing the required parameter 'avalara_product_type' when calling CompanyItemGoodsApi.companies_company_id_itemsgoods_get" if avalara_product_type.nil?
      # verify enum value
      unless ['goods', 'service'].include?(avalara_product_type)
        fail ArgumentError, "invalid value for 'avalara_product_type', must be one of goods, service"
      end
      if !opts[:'x_pagination_limit'].nil? && opts[:'x_pagination_limit'] < 5
        fail ArgumentError, 'invalid value for "opts[:"x_pagination_limit"]" when calling CompanyItemGoodsApi.companies_company_id_itemsgoods_get, must be greater than or equal to 5.'
      end

      if !opts[:'x_pagination_current_page'].nil? && opts[:'x_pagination_current_page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"x_pagination_current_page"]" when calling CompanyItemGoodsApi.companies_company_id_itemsgoods_get, must be greater than or equal to 1.'
      end

      if !opts[:'code'].nil? && opts[:'code'].to_s.length > 60
        fail ArgumentError, 'invalid value for "opts[:"code"]" when calling CompanyItemGoodsApi.companies_company_id_itemsgoods_get, the character length must be smaller than or equal to 60.'
      end

      if !opts[:'agast'].nil? && opts[:'agast'].to_s.length > 60
        fail ArgumentError, 'invalid value for "opts[:"agast"]" when calling CompanyItemGoodsApi.companies_company_id_itemsgoods_get, the character length must be smaller than or equal to 60.'
      end

      # resource path
      local_var_path = "/companies/{companyId}/items?goods".sub('{format}','json').sub('{' + 'companyId' + '}', company_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'code'] = opts[:'code'] if !opts[:'code'].nil?
      query_params[:'agast'] = opts[:'agast'] if !opts[:'agast'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'Avalara-Product-Type'] = avalara_product_type
      header_params[:'X-Pagination-Limit'] = opts[:'x_pagination_limit'] if !opts[:'x_pagination_limit'].nil?
      header_params[:'X-Pagination-Current-Page'] = opts[:'x_pagination_current_page'] if !opts[:'x_pagination_current_page'].nil?
      header_params[:'X-Pagination-Sort'] = opts[:'x_pagination_sort'] if !opts[:'x_pagination_sort'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<ItemGoods>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompanyItemGoodsApi#companies_company_id_itemsgoods_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create custom agast for one company
    # This method operation create a custom agast for one company 
    # @param company_id Company ID
    # @param avalara_product_type Avalara Product Type
    # @param body Transaction Message
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse201]
    def create_item(company_id, avalara_product_type, body, opts = {})
      data, _status_code, _headers = create_item_with_http_info(company_id, avalara_product_type, body, opts)
      return data
    end

    # Create custom agast for one company
    # This method operation create a custom agast for one company 
    # @param company_id Company ID
    # @param avalara_product_type Avalara Product Type
    # @param body Transaction Message
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse201, Fixnum, Hash)>] InlineResponse201 data, response status code and response headers
    def create_item_with_http_info(company_id, avalara_product_type, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CompanyItemGoodsApi.create_item ..."
      end
      # verify the required parameter 'company_id' is set
      fail ArgumentError, "Missing the required parameter 'company_id' when calling CompanyItemGoodsApi.create_item" if company_id.nil?
      # verify the required parameter 'avalara_product_type' is set
      fail ArgumentError, "Missing the required parameter 'avalara_product_type' when calling CompanyItemGoodsApi.create_item" if avalara_product_type.nil?
      # verify enum value
      unless ['goods', 'service'].include?(avalara_product_type)
        fail ArgumentError, "invalid value for 'avalara_product_type', must be one of goods, service"
      end
      # verify the required parameter 'body' is set
      fail ArgumentError, "Missing the required parameter 'body' when calling CompanyItemGoodsApi.create_item" if body.nil?
      # resource path
      local_var_path = "/companies/{companyId}/items?goods".sub('{format}','json').sub('{' + 'companyId' + '}', company_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'Avalara-Product-Type'] = avalara_product_type

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse201')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompanyItemGoodsApi#create_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # 
    # @param company_id Company ID
    # @param code Item Code
    # @param avalara_product_type Avalara Product Type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_item(company_id, code, avalara_product_type, opts = {})
      delete_item_with_http_info(company_id, code, avalara_product_type, opts)
      return nil
    end

    # 
    # 
    # @param company_id Company ID
    # @param code Item Code
    # @param avalara_product_type Avalara Product Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_item_with_http_info(company_id, code, avalara_product_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CompanyItemGoodsApi.delete_item ..."
      end
      # verify the required parameter 'company_id' is set
      fail ArgumentError, "Missing the required parameter 'company_id' when calling CompanyItemGoodsApi.delete_item" if company_id.nil?
      # verify the required parameter 'code' is set
      fail ArgumentError, "Missing the required parameter 'code' when calling CompanyItemGoodsApi.delete_item" if code.nil?
      if code.to_s.length > 60
        fail ArgumentError, 'invalid value for "code" when calling CompanyItemGoodsApi.delete_item, the character length must be smaller than or equal to 60.'
      end

      # verify the required parameter 'avalara_product_type' is set
      fail ArgumentError, "Missing the required parameter 'avalara_product_type' when calling CompanyItemGoodsApi.delete_item" if avalara_product_type.nil?
      # verify enum value
      unless ['goods', 'service'].include?(avalara_product_type)
        fail ArgumentError, "invalid value for 'avalara_product_type', must be one of goods, service"
      end
      # resource path
      local_var_path = "/companies/{companyId}/items/{code}?goods".sub('{format}','json').sub('{' + 'companyId' + '}', company_id.to_s).sub('{' + 'code' + '}', code.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'Avalara-Product-Type'] = avalara_product_type

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompanyItemGoodsApi#delete_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update custom agast for one company
    # This method operation create a custom agast for one company 
    # @param company_id Company ID
    # @param code Item Code
    # @param avalara_product_type Avalara Product Type
    # @param body Transaction Message
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def update_item(company_id, code, avalara_product_type, body, opts = {})
      update_item_with_http_info(company_id, code, avalara_product_type, body, opts)
      return nil
    end

    # Update custom agast for one company
    # This method operation create a custom agast for one company 
    # @param company_id Company ID
    # @param code Item Code
    # @param avalara_product_type Avalara Product Type
    # @param body Transaction Message
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def update_item_with_http_info(company_id, code, avalara_product_type, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CompanyItemGoodsApi.update_item ..."
      end
      # verify the required parameter 'company_id' is set
      fail ArgumentError, "Missing the required parameter 'company_id' when calling CompanyItemGoodsApi.update_item" if company_id.nil?
      # verify the required parameter 'code' is set
      fail ArgumentError, "Missing the required parameter 'code' when calling CompanyItemGoodsApi.update_item" if code.nil?
      if code.to_s.length > 60
        fail ArgumentError, 'invalid value for "code" when calling CompanyItemGoodsApi.update_item, the character length must be smaller than or equal to 60.'
      end

      # verify the required parameter 'avalara_product_type' is set
      fail ArgumentError, "Missing the required parameter 'avalara_product_type' when calling CompanyItemGoodsApi.update_item" if avalara_product_type.nil?
      # verify enum value
      unless ['goods', 'service'].include?(avalara_product_type)
        fail ArgumentError, "invalid value for 'avalara_product_type', must be one of goods, service"
      end
      # verify the required parameter 'body' is set
      fail ArgumentError, "Missing the required parameter 'body' when calling CompanyItemGoodsApi.update_item" if body.nil?
      # resource path
      local_var_path = "/companies/{companyId}/items/{code}?goods".sub('{format}','json').sub('{' + 'companyId' + '}', company_id.to_s).sub('{' + 'code' + '}', code.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'Avalara-Product-Type'] = avalara_product_type

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompanyItemGoodsApi#update_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
