=begin
#AvaTax Brazil

#The Avatax-Brazil API exposes the most commonly services available for interacting with the AvaTax-Brazil services, allowing calculation of taxes, issuing electronic invoice documents and modifying existing transactions when allowed by tax authorities.  This API is exclusively for use by business with a physical presence in Brazil.

OpenAPI spec version: 1.0

Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module SwaggerClient
  class CompanyProcessApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # 
    # This operation return custom process configurations that match with parameters queries 
    # @param company_id Company ID
    # @param code Process Code
    # @param [Hash] opts the optional parameters
    # @return [CustomProcessScenario]
    def companies_company_id_process_code_get(company_id, code, opts = {})
      data, _status_code, _headers = companies_company_id_process_code_get_with_http_info(company_id, code, opts)
      return data
    end

    # 
    # This operation return custom process configurations that match with parameters queries 
    # @param company_id Company ID
    # @param code Process Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomProcessScenario, Fixnum, Hash)>] CustomProcessScenario data, response status code and response headers
    def companies_company_id_process_code_get_with_http_info(company_id, code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CompanyProcessApi.companies_company_id_process_code_get ..."
      end
      # verify the required parameter 'company_id' is set
      fail ArgumentError, "Missing the required parameter 'company_id' when calling CompanyProcessApi.companies_company_id_process_code_get" if company_id.nil?
      # verify the required parameter 'code' is set
      fail ArgumentError, "Missing the required parameter 'code' when calling CompanyProcessApi.companies_company_id_process_code_get" if code.nil?
      # resource path
      local_var_path = "/companies/{companyId}/process/{code}".sub('{format}','json').sub('{' + 'companyId' + '}', company_id.to_s).sub('{' + 'code' + '}', code.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CustomProcessScenario')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompanyProcessApi#companies_company_id_process_code_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # This operation return custom process configurations that match with parameters queries 
    # @param company_id Company ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :x_pagination_limit The per page limit. Currently set to 10 but subject to change at any time (max 100). (default to 10)
    # @option opts [Integer] :x_pagination_current_page The current page. Defaults to 1. (default to 1)
    # @option opts [String] :x_pagination_sort 
    # @return [Array<CustomProcessScenario>]
    def companies_company_id_process_get(company_id, opts = {})
      data, _status_code, _headers = companies_company_id_process_get_with_http_info(company_id, opts)
      return data
    end

    # 
    # This operation return custom process configurations that match with parameters queries 
    # @param company_id Company ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :x_pagination_limit The per page limit. Currently set to 10 but subject to change at any time (max 100).
    # @option opts [Integer] :x_pagination_current_page The current page. Defaults to 1.
    # @option opts [String] :x_pagination_sort 
    # @return [Array<(Array<CustomProcessScenario>, Fixnum, Hash)>] Array<CustomProcessScenario> data, response status code and response headers
    def companies_company_id_process_get_with_http_info(company_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CompanyProcessApi.companies_company_id_process_get ..."
      end
      # verify the required parameter 'company_id' is set
      fail ArgumentError, "Missing the required parameter 'company_id' when calling CompanyProcessApi.companies_company_id_process_get" if company_id.nil?
      if !opts[:'x_pagination_limit'].nil? && opts[:'x_pagination_limit'] < 5
        fail ArgumentError, 'invalid value for "opts[:"x_pagination_limit"]" when calling CompanyProcessApi.companies_company_id_process_get, must be greater than or equal to 5.'
      end

      if !opts[:'x_pagination_current_page'].nil? && opts[:'x_pagination_current_page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"x_pagination_current_page"]" when calling CompanyProcessApi.companies_company_id_process_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = "/companies/{companyId}/process".sub('{format}','json').sub('{' + 'companyId' + '}', company_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Pagination-Limit'] = opts[:'x_pagination_limit'] if !opts[:'x_pagination_limit'].nil?
      header_params[:'X-Pagination-Current-Page'] = opts[:'x_pagination_current_page'] if !opts[:'x_pagination_current_page'].nil?
      header_params[:'X-Pagination-Sort'] = opts[:'x_pagination_sort'] if !opts[:'x_pagination_sort'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<CustomProcessScenario>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompanyProcessApi#companies_company_id_process_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create custom process tax for one company
    # This method operation create a custom agast for one company 
    # @param company_id Company ID
    # @param body Transaction Message
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse201]
    def create_custom_process_scenario(company_id, body, opts = {})
      data, _status_code, _headers = create_custom_process_scenario_with_http_info(company_id, body, opts)
      return data
    end

    # Create custom process tax for one company
    # This method operation create a custom agast for one company 
    # @param company_id Company ID
    # @param body Transaction Message
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse201, Fixnum, Hash)>] InlineResponse201 data, response status code and response headers
    def create_custom_process_scenario_with_http_info(company_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CompanyProcessApi.create_custom_process_scenario ..."
      end
      # verify the required parameter 'company_id' is set
      fail ArgumentError, "Missing the required parameter 'company_id' when calling CompanyProcessApi.create_custom_process_scenario" if company_id.nil?
      # verify the required parameter 'body' is set
      fail ArgumentError, "Missing the required parameter 'body' when calling CompanyProcessApi.create_custom_process_scenario" if body.nil?
      # resource path
      local_var_path = "/companies/{companyId}/process".sub('{format}','json').sub('{' + 'companyId' + '}', company_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse201')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompanyProcessApi#create_custom_process_scenario\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # 
    # @param company_id Company ID
    # @param code Process Code
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_custom_process_scenario(company_id, code, opts = {})
      delete_custom_process_scenario_with_http_info(company_id, code, opts)
      return nil
    end

    # 
    # 
    # @param company_id Company ID
    # @param code Process Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_custom_process_scenario_with_http_info(company_id, code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CompanyProcessApi.delete_custom_process_scenario ..."
      end
      # verify the required parameter 'company_id' is set
      fail ArgumentError, "Missing the required parameter 'company_id' when calling CompanyProcessApi.delete_custom_process_scenario" if company_id.nil?
      # verify the required parameter 'code' is set
      fail ArgumentError, "Missing the required parameter 'code' when calling CompanyProcessApi.delete_custom_process_scenario" if code.nil?
      # resource path
      local_var_path = "/companies/{companyId}/process/{code}".sub('{format}','json').sub('{' + 'companyId' + '}', company_id.to_s).sub('{' + 'code' + '}', code.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompanyProcessApi#delete_custom_process_scenario\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update custom agast for one company
    # This method operation update a custom process for one company 
    # @param company_id Company ID
    # @param code Process Code
    # @param body Transaction Message
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def update_custom_process_scenario(company_id, code, body, opts = {})
      update_custom_process_scenario_with_http_info(company_id, code, body, opts)
      return nil
    end

    # Update custom agast for one company
    # This method operation update a custom process for one company 
    # @param company_id Company ID
    # @param code Process Code
    # @param body Transaction Message
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def update_custom_process_scenario_with_http_info(company_id, code, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CompanyProcessApi.update_custom_process_scenario ..."
      end
      # verify the required parameter 'company_id' is set
      fail ArgumentError, "Missing the required parameter 'company_id' when calling CompanyProcessApi.update_custom_process_scenario" if company_id.nil?
      # verify the required parameter 'code' is set
      fail ArgumentError, "Missing the required parameter 'code' when calling CompanyProcessApi.update_custom_process_scenario" if code.nil?
      # verify the required parameter 'body' is set
      fail ArgumentError, "Missing the required parameter 'body' when calling CompanyProcessApi.update_custom_process_scenario" if body.nil?
      # resource path
      local_var_path = "/companies/{companyId}/process/{code}".sub('{format}','json').sub('{' + 'companyId' + '}', company_id.to_s).sub('{' + 'code' + '}', code.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompanyProcessApi#update_custom_process_scenario\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
