=begin
#AvaTax Brazil

#The Avatax-Brazil API exposes the most commonly services available for interacting with the AvaTax-Brazil services, allowing calculation of taxes, issuing electronic invoice documents and modifying existing transactions when allowed by tax authorities.  This API is exclusively for use by business with a physical presence in Brazil.

OpenAPI spec version: 1.0

Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module SwaggerClient
  class TaxConfIBPTApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # create a new Process Type configuration
    # 
    # @param taxconfprocess The pet JSON you want to post
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse201]
    def create_ibpt_conf(taxconfprocess, opts = {})
      data, _status_code, _headers = create_ibpt_conf_with_http_info(taxconfprocess, opts)
      return data
    end

    # create a new Process Type configuration
    # 
    # @param taxconfprocess The pet JSON you want to post
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse201, Fixnum, Hash)>] InlineResponse201 data, response status code and response headers
    def create_ibpt_conf_with_http_info(taxconfprocess, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TaxConfIBPTApi.create_ibpt_conf ..."
      end
      # verify the required parameter 'taxconfprocess' is set
      fail ArgumentError, "Missing the required parameter 'taxconfprocess' when calling TaxConfIBPTApi.create_ibpt_conf" if taxconfprocess.nil?
      # resource path
      local_var_path = "/taxconf/ibpt".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(taxconfprocess)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse201')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxConfIBPTApi#create_ibpt_conf\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # disable a IBPT.
    # 
    # @param code IBPT Code
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_ibpt_conf(code, opts = {})
      delete_ibpt_conf_with_http_info(code, opts)
      return nil
    end

    # disable a IBPT.
    # 
    # @param code IBPT Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_ibpt_conf_with_http_info(code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TaxConfIBPTApi.delete_ibpt_conf ..."
      end
      # verify the required parameter 'code' is set
      fail ArgumentError, "Missing the required parameter 'code' when calling TaxConfIBPTApi.delete_ibpt_conf" if code.nil?
      if code.to_s.length > 60
        fail ArgumentError, 'invalid value for "code" when calling TaxConfIBPTApi.delete_ibpt_conf, the character length must be smaller than or equal to 60.'
      end

      # resource path
      local_var_path = "/taxconf/ibpt/{code}".sub('{format}','json').sub('{' + 'code' + '}', code.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxConfIBPTApi#delete_ibpt_conf\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # get IBPT information.
    # This operation return Process Type configuration 
    # @param code IBPT Code
    # @param [Hash] opts the optional parameters
    # @return [IbptConf]
    def get_ibpt_conf(code, opts = {})
      data, _status_code, _headers = get_ibpt_conf_with_http_info(code, opts)
      return data
    end

    # get IBPT information.
    # This operation return Process Type configuration 
    # @param code IBPT Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(IbptConf, Fixnum, Hash)>] IbptConf data, response status code and response headers
    def get_ibpt_conf_with_http_info(code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TaxConfIBPTApi.get_ibpt_conf ..."
      end
      # verify the required parameter 'code' is set
      fail ArgumentError, "Missing the required parameter 'code' when calling TaxConfIBPTApi.get_ibpt_conf" if code.nil?
      if code.to_s.length > 60
        fail ArgumentError, 'invalid value for "code" when calling TaxConfIBPTApi.get_ibpt_conf, the character length must be smaller than or equal to 60.'
      end

      # resource path
      local_var_path = "/taxconf/ibpt/{code}".sub('{format}','json').sub('{' + 'code' + '}', code.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'IbptConf')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxConfIBPTApi#get_ibpt_conf\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # retrive list of IBPT.
    # This operation return Process Type configurations that match with parameters queries 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id filter the configuration by accountID, if not informed, only the standard configuration will be returned 
    # @option opts [Date] :date When informed return valid version configuration for this date 
    # @option opts [BOOLEAN] :inactive return the inactive versions too 
    # @return [Array<IbptConf>]
    def get_ibpt_conf_list(opts = {})
      data, _status_code, _headers = get_ibpt_conf_list_with_http_info(opts)
      return data
    end

    # retrive list of IBPT.
    # This operation return Process Type configurations that match with parameters queries 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id filter the configuration by accountID, if not informed, only the standard configuration will be returned 
    # @option opts [Date] :date When informed return valid version configuration for this date 
    # @option opts [BOOLEAN] :inactive return the inactive versions too 
    # @return [Array<(Array<IbptConf>, Fixnum, Hash)>] Array<IbptConf> data, response status code and response headers
    def get_ibpt_conf_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TaxConfIBPTApi.get_ibpt_conf_list ..."
      end
      if !opts[:'account_id'].nil? && opts[:'account_id'].to_s.length > 60
        fail ArgumentError, 'invalid value for "opts[:"account_id"]" when calling TaxConfIBPTApi.get_ibpt_conf_list, the character length must be smaller than or equal to 60.'
      end

      # resource path
      local_var_path = "/taxconf/ibpt".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'date'] = opts[:'date'] if !opts[:'date'].nil?
      query_params[:'inactive'] = opts[:'inactive'] if !opts[:'inactive'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<IbptConf>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxConfIBPTApi#get_ibpt_conf_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # update a Process Type configuration
    # 
    # @param code IBPT Code
    # @param taxconfprocess The pet JSON you want to post
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def update_ibpt_conf(code, taxconfprocess, opts = {})
      update_ibpt_conf_with_http_info(code, taxconfprocess, opts)
      return nil
    end

    # update a Process Type configuration
    # 
    # @param code IBPT Code
    # @param taxconfprocess The pet JSON you want to post
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def update_ibpt_conf_with_http_info(code, taxconfprocess, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TaxConfIBPTApi.update_ibpt_conf ..."
      end
      # verify the required parameter 'code' is set
      fail ArgumentError, "Missing the required parameter 'code' when calling TaxConfIBPTApi.update_ibpt_conf" if code.nil?
      if code.to_s.length > 60
        fail ArgumentError, 'invalid value for "code" when calling TaxConfIBPTApi.update_ibpt_conf, the character length must be smaller than or equal to 60.'
      end

      # verify the required parameter 'taxconfprocess' is set
      fail ArgumentError, "Missing the required parameter 'taxconfprocess' when calling TaxConfIBPTApi.update_ibpt_conf" if taxconfprocess.nil?
      # resource path
      local_var_path = "/taxconf/ibpt/{code}".sub('{format}','json').sub('{' + 'code' + '}', code.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(taxconfprocess)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxConfIBPTApi#update_ibpt_conf\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
