/**
 * BR16 - API
 * This documentation is about service accessories that will compose the product BR16, this services are essencial to maintenance and configuration of accounts
 *
 * OpenAPI spec version: 1.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import io.swagger.client.ApiInvoker;
import io.swagger.client.ApiException;
import io.swagger.client.Pair;

import io.swagger.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import java.util.Date;
import io.swagger.client.model.IcmsConfByState;
import io.swagger.client.model.InlineResponse201;
import io.swagger.client.model.Message;
import io.swagger.client.model.ValidationError;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class TaxConfICMSApi {
  String basePath = "https://br16-dev-app03.br.avalara.com/v2";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * create a new ICMS Configuration
  * 
   * @param state Brazilian State
   * @param icmsConfState The pet JSON you want to post
   * @return InlineResponse201
  */
  public InlineResponse201 createIcmsconfstate (String state, IcmsConfByState icmsConfState) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = icmsConfState;
    // verify the required parameter 'state' is set
    if (state == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'state' when calling createIcmsconfstate",
        new ApiException(400, "Missing the required parameter 'state' when calling createIcmsconfstate"));
    }
    // verify the required parameter 'icmsConfState' is set
    if (icmsConfState == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'icmsConfState' when calling createIcmsconfstate",
        new ApiException(400, "Missing the required parameter 'icmsConfState' when calling createIcmsconfstate"));
    }

    // create path and map variables
    String path = "/taxconf/icms/{state}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "state" + "\\}", apiInvoker.escapeString(state.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (InlineResponse201) ApiInvoker.deserialize(localVarResponse, "", InlineResponse201.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
       if (ex.getCause() instanceof VolleyError) {
         VolleyError volleyError = (VolleyError)ex.getCause();
         if (volleyError.networkResponse != null) {
           throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
         }
       }
       throw ex;
    } catch (TimeoutException ex) {
       throw ex;
    }
  }

      /**
   * create a new ICMS Configuration
   * 
   * @param state Brazilian State   * @param icmsConfState The pet JSON you want to post
  */
  public void createIcmsconfstate (String state, IcmsConfByState icmsConfState, final Response.Listener<InlineResponse201> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = icmsConfState;

  
    // verify the required parameter 'state' is set
    if (state == null) {
       VolleyError error = new VolleyError("Missing the required parameter 'state' when calling createIcmsconfstate",
         new ApiException(400, "Missing the required parameter 'state' when calling createIcmsconfstate"));
    }
    
    // verify the required parameter 'icmsConfState' is set
    if (icmsConfState == null) {
       VolleyError error = new VolleyError("Missing the required parameter 'icmsConfState' when calling createIcmsconfstate",
         new ApiException(400, "Missing the required parameter 'icmsConfState' when calling createIcmsconfstate"));
    }
    

    // create path and map variables
    String path = "/taxconf/icms/{state}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "state" + "\\}", apiInvoker.escapeString(state.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

      String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((InlineResponse201) ApiInvoker.deserialize(localVarResponse,  "", InlineResponse201.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * disable a ICMS by State.
  * 
   * @param state Brazilian State
   * @param code ICMS Code
   * @return void
  */
  public void deleteIcmsConf (String state, String code) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'state' is set
    if (state == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'state' when calling deleteIcmsConf",
        new ApiException(400, "Missing the required parameter 'state' when calling deleteIcmsConf"));
    }
    // verify the required parameter 'code' is set
    if (code == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'code' when calling deleteIcmsConf",
        new ApiException(400, "Missing the required parameter 'code' when calling deleteIcmsConf"));
    }

    // create path and map variables
    String path = "/taxconf/icms/{state}/{code}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "state" + "\\}", apiInvoker.escapeString(state.toString())).replaceAll("\\{" + "code" + "\\}", apiInvoker.escapeString(code.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "DELETE", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return ;
      } else {
         return ;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
       if (ex.getCause() instanceof VolleyError) {
         VolleyError volleyError = (VolleyError)ex.getCause();
         if (volleyError.networkResponse != null) {
           throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
         }
       }
       throw ex;
    } catch (TimeoutException ex) {
       throw ex;
    }
  }

      /**
   * disable a ICMS by State.
   * 
   * @param state Brazilian State   * @param code ICMS Code
  */
  public void deleteIcmsConf (String state, String code, final Response.Listener<String> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

  
    // verify the required parameter 'state' is set
    if (state == null) {
       VolleyError error = new VolleyError("Missing the required parameter 'state' when calling deleteIcmsConf",
         new ApiException(400, "Missing the required parameter 'state' when calling deleteIcmsConf"));
    }
    
    // verify the required parameter 'code' is set
    if (code == null) {
       VolleyError error = new VolleyError("Missing the required parameter 'code' when calling deleteIcmsConf",
         new ApiException(400, "Missing the required parameter 'code' when calling deleteIcmsConf"));
    }
    

    // create path and map variables
    String path = "/taxconf/icms/{state}/{code}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "state" + "\\}", apiInvoker.escapeString(state.toString())).replaceAll("\\{" + "code" + "\\}", apiInvoker.escapeString(code.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

      String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "DELETE", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
              responseListener.onResponse(localVarResponse);
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * get ICMS information by State.
  * This operation return configurations of icms that match with parameters queries 
   * @param state Brazilian State
   * @param code ICMS Code
   * @return List<IcmsConfByState>
  */
  public List<IcmsConfByState> getIcmsConfByState (String state, String code) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'state' is set
    if (state == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'state' when calling getIcmsConfByState",
        new ApiException(400, "Missing the required parameter 'state' when calling getIcmsConfByState"));
    }
    // verify the required parameter 'code' is set
    if (code == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'code' when calling getIcmsConfByState",
        new ApiException(400, "Missing the required parameter 'code' when calling getIcmsConfByState"));
    }

    // create path and map variables
    String path = "/taxconf/icms/{state}/{code}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "state" + "\\}", apiInvoker.escapeString(state.toString())).replaceAll("\\{" + "code" + "\\}", apiInvoker.escapeString(code.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<IcmsConfByState>) ApiInvoker.deserialize(localVarResponse, "array", IcmsConfByState.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
       if (ex.getCause() instanceof VolleyError) {
         VolleyError volleyError = (VolleyError)ex.getCause();
         if (volleyError.networkResponse != null) {
           throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
         }
       }
       throw ex;
    } catch (TimeoutException ex) {
       throw ex;
    }
  }

      /**
   * get ICMS information by State.
   * This operation return configurations of icms that match with parameters queries 
   * @param state Brazilian State   * @param code ICMS Code
  */
  public void getIcmsConfByState (String state, String code, final Response.Listener<List<IcmsConfByState>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

  
    // verify the required parameter 'state' is set
    if (state == null) {
       VolleyError error = new VolleyError("Missing the required parameter 'state' when calling getIcmsConfByState",
         new ApiException(400, "Missing the required parameter 'state' when calling getIcmsConfByState"));
    }
    
    // verify the required parameter 'code' is set
    if (code == null) {
       VolleyError error = new VolleyError("Missing the required parameter 'code' when calling getIcmsConfByState",
         new ApiException(400, "Missing the required parameter 'code' when calling getIcmsConfByState"));
    }
    

    // create path and map variables
    String path = "/taxconf/icms/{state}/{code}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "state" + "\\}", apiInvoker.escapeString(state.toString())).replaceAll("\\{" + "code" + "\\}", apiInvoker.escapeString(code.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

      String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<IcmsConfByState>) ApiInvoker.deserialize(localVarResponse,  "array", IcmsConfByState.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * retrive list of ICMS.
  * This operation return ICMS configurations that match with parameters queries 
   * @param state Brazilian State
   * @param suffixcode Identify this ICMS
   * @param date When informed return valid version configuration for this date
   * @param inactive return the inactive versions too
   * @return List<IcmsConfByState>
  */
  public List<IcmsConfByState> getIcmsList (String state, String suffixcode, Date date, Boolean inactive) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'state' is set
    if (state == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'state' when calling getIcmsList",
        new ApiException(400, "Missing the required parameter 'state' when calling getIcmsList"));
    }

    // create path and map variables
    String path = "/taxconf/icms/{state}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "state" + "\\}", apiInvoker.escapeString(state.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "suffixcode", suffixcode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "date", date));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "inactive", inactive));
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<IcmsConfByState>) ApiInvoker.deserialize(localVarResponse, "array", IcmsConfByState.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
       if (ex.getCause() instanceof VolleyError) {
         VolleyError volleyError = (VolleyError)ex.getCause();
         if (volleyError.networkResponse != null) {
           throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
         }
       }
       throw ex;
    } catch (TimeoutException ex) {
       throw ex;
    }
  }

      /**
   * retrive list of ICMS.
   * This operation return ICMS configurations that match with parameters queries 
   * @param state Brazilian State   * @param suffixcode Identify this ICMS   * @param date When informed return valid version configuration for this date   * @param inactive return the inactive versions too
  */
  public void getIcmsList (String state, String suffixcode, Date date, Boolean inactive, final Response.Listener<List<IcmsConfByState>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

  
    // verify the required parameter 'state' is set
    if (state == null) {
       VolleyError error = new VolleyError("Missing the required parameter 'state' when calling getIcmsList",
         new ApiException(400, "Missing the required parameter 'state' when calling getIcmsList"));
    }
    

    // create path and map variables
    String path = "/taxconf/icms/{state}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "state" + "\\}", apiInvoker.escapeString(state.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "suffixcode", suffixcode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "date", date));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "inactive", inactive));


    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

      String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<IcmsConfByState>) ApiInvoker.deserialize(localVarResponse,  "array", IcmsConfByState.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * retrive list of ICMS.
  * This operation return ICMS configurations that match with parameters queries 
   * @param text Search for codes
   * @param state Filter for states
   * @return List<IcmsConfByState>
  */
  public List<IcmsConfByState> getIcmsList_1 (String text, String state) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'text' is set
    if (text == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'text' when calling getIcmsList_1",
        new ApiException(400, "Missing the required parameter 'text' when calling getIcmsList_1"));
    }

    // create path and map variables
    String path = "/taxconf/icms-search/".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "text", text));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "state", state));
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<IcmsConfByState>) ApiInvoker.deserialize(localVarResponse, "array", IcmsConfByState.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
       if (ex.getCause() instanceof VolleyError) {
         VolleyError volleyError = (VolleyError)ex.getCause();
         if (volleyError.networkResponse != null) {
           throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
         }
       }
       throw ex;
    } catch (TimeoutException ex) {
       throw ex;
    }
  }

      /**
   * retrive list of ICMS.
   * This operation return ICMS configurations that match with parameters queries 
   * @param text Search for codes   * @param state Filter for states
  */
  public void getIcmsList_1 (String text, String state, final Response.Listener<List<IcmsConfByState>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

  
    // verify the required parameter 'text' is set
    if (text == null) {
       VolleyError error = new VolleyError("Missing the required parameter 'text' when calling getIcmsList_1",
         new ApiException(400, "Missing the required parameter 'text' when calling getIcmsList_1"));
    }
    

    // create path and map variables
    String path = "/taxconf/icms-search/".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "text", text));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "state", state));


    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

      String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<IcmsConfByState>) ApiInvoker.deserialize(localVarResponse,  "array", IcmsConfByState.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * update a IcmsConf State,
  * 
   * @param state Brazilian State
   * @param code ICMS Code
   * @param icmsConfState The pet JSON you want to post
   * @return void
  */
  public void updateIcmsconfstate (String state, String code, IcmsConfByState icmsConfState) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = icmsConfState;
    // verify the required parameter 'state' is set
    if (state == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'state' when calling updateIcmsconfstate",
        new ApiException(400, "Missing the required parameter 'state' when calling updateIcmsconfstate"));
    }
    // verify the required parameter 'code' is set
    if (code == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'code' when calling updateIcmsconfstate",
        new ApiException(400, "Missing the required parameter 'code' when calling updateIcmsconfstate"));
    }
    // verify the required parameter 'icmsConfState' is set
    if (icmsConfState == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'icmsConfState' when calling updateIcmsconfstate",
        new ApiException(400, "Missing the required parameter 'icmsConfState' when calling updateIcmsconfstate"));
    }

    // create path and map variables
    String path = "/taxconf/icms/{state}/{code}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "state" + "\\}", apiInvoker.escapeString(state.toString())).replaceAll("\\{" + "code" + "\\}", apiInvoker.escapeString(code.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "PUT", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return ;
      } else {
         return ;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
       if (ex.getCause() instanceof VolleyError) {
         VolleyError volleyError = (VolleyError)ex.getCause();
         if (volleyError.networkResponse != null) {
           throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
         }
       }
       throw ex;
    } catch (TimeoutException ex) {
       throw ex;
    }
  }

      /**
   * update a IcmsConf State,
   * 
   * @param state Brazilian State   * @param code ICMS Code   * @param icmsConfState The pet JSON you want to post
  */
  public void updateIcmsconfstate (String state, String code, IcmsConfByState icmsConfState, final Response.Listener<String> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = icmsConfState;

  
    // verify the required parameter 'state' is set
    if (state == null) {
       VolleyError error = new VolleyError("Missing the required parameter 'state' when calling updateIcmsconfstate",
         new ApiException(400, "Missing the required parameter 'state' when calling updateIcmsconfstate"));
    }
    
    // verify the required parameter 'code' is set
    if (code == null) {
       VolleyError error = new VolleyError("Missing the required parameter 'code' when calling updateIcmsconfstate",
         new ApiException(400, "Missing the required parameter 'code' when calling updateIcmsconfstate"));
    }
    
    // verify the required parameter 'icmsConfState' is set
    if (icmsConfState == null) {
       VolleyError error = new VolleyError("Missing the required parameter 'icmsConfState' when calling updateIcmsconfstate",
         new ApiException(400, "Missing the required parameter 'icmsConfState' when calling updateIcmsconfstate"));
    }
    

    // create path and map variables
    String path = "/taxconf/icms/{state}/{code}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "state" + "\\}", apiInvoker.escapeString(state.toString())).replaceAll("\\{" + "code" + "\\}", apiInvoker.escapeString(code.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

      String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "PUT", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
              responseListener.onResponse(localVarResponse);
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
